  <p>
    <strong>User:</strong>
    <%= user.user %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= user.body %>
  </p>
  <p>
    <%= link_to 'Destroy user', [user.article, user],
                method: :delete,
                data: { confirm: 'Are you sure?'} %>
  </p>