


<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th></th>
  </tr>
  <tr>
    <td><%= user.user %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Destroy user', [user.competition, user],
                method: :delete,
                data: { confirm: 'Are you sure?'} %></td>
  </tr>

</table>
